<div class="container-grid">
  <div *ngFor="let item of apiService.itemsArray.slice(from, to)" class="item">
    <div class="with-img">
      <img [src]="item.image" alt="item.title" />
    </div>
    <div class="price">
      <div class="left">€{{ item.price | number }}</div>
      <div class="right">
        <app-fav-icon [item]="item"></app-fav-icon>
      </div>
    </div>
    <div class="title">{{ item.title }}</div>
    <div>{{ item.description }}</div>
    <div class="email">{{ item.email }}</div>
  </div>
</div>
<div class="left-side">
  <mat-paginator
    [length]="apiService.itemsArray.length"
    [pageSize]="5"
    hidePageSize="true"
    (page)="onPageEvent($event)"
  >
  </mat-paginator>
  <app-search></app-search>
</div>
