/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field {
  width: 100%;
}

.mat-paginator {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.mat-paginator-container {
  display: block !important;
}

.mat-paginator-range-label {
  margin: 0 20px 0 0 !important;
  min-width: 120px;
}

.mat-paginator-navigation-previous {
  margin-left: 20px;
}

.desktop {
  display: block;
}
.mobile {
  display: none;
}

@media only screen and (max-width: 550px) {
  /*  app-search {
    position: absolute;
    top: 10px;
  } */
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  .mat-paginator {
    width: 220px;
    margin: 0 auto;
  }
}
